# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /RoomManager/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /RoomManager/index.php [L]
</IfModule>

# END WordPress